* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 179, 39);
}

.title {
    background-color: rgb(51, 177, 255);
    font-size: 60px;
    text-align: center;
    font-weight: 800;
    font-family: Copperplate, Papyrus, fantasy;
}

.front-page-img {
    height: auto;
    width: 500px;
    margin: auto;
    display: block;
}

#recipe-list {
    display: flex;
    font-size: 28px;
    font-family: 'Lucida Handwriting', cursive;
    font-weight: 500;
    list-style: none;
}

button {
    background-color: rgb(51, 177, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.front-page-button {
    background-color: rgb(108, 204, 94);
    font-weight: bold;
    font-size: large;
    margin: auto;
    padding: 0.5em;
    border: 2px solid rgb(0, 208, 255);
}